<!DOCTYPE html>
{%extends "basicapp/basicapp_base.html"%}
  {%block body_block%}
  <h2>Transfers</h2>
  <div class="customers">
    {% if trans %}
      <table>
        <thead>
          <th>Sender</th>
          <th>Reciever</th>
          <th>Amount Transferd</th>
          <th>Date Time</th>
        </thead>

        {% for i in trans %}
        <tr>
          <td>{{i.sender_name}}</td>
          <td>{{i.reciever_name}}</td>
          <td>{{i.amount}}</td>
          <td>{{i.date}}</td>
        </tr>
        {% endfor %}

      </table>
    {% else %}
        <table>
            <thead>
            <th>Sender</th>
            <th>Reciever</th>
            <th>Amount Transferd</th>
            <th>Date Time</th>
            </thead>

            {% for i in transfer %}
            <tr>
            <td>{{i.sender_name}}</td>
            <td>{{i.reciever_name}}</td>
            <td>{{i.amount}}</td>
            <td>{{i.date}}</td>
            </tr>
            {% endfor %}

        </table>
      
    {% endif %}

  </div>
  {%endblock%}
